/* ------------------------------- Global ----------------------------- */

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  src: url(/fonts/montserrat/MontserratSubrayada-Regular.ttf);
  font-family: montserrat;
}

@font-face {
  src: url(/fonts/poppins/Poppins-Regular.ttf);
  font-family: poppins;
}

/* ------------------------------ Navigation Bar ---------------------------- */

.navContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 95vw;
  margin: auto;
}

.logo {
  flex: 1 1 0rem;
  color: #73009b;
  font-family: montserrat;
  cursor: pointer;
}

.navLinks {
  flex: 2 1 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease;
}

.navLinks a {
  color: rgb(73, 73, 73);
  padding: 0.3rem 1.5rem;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

nav {
  height: 10vh;
  background-color: rgb(255, 255, 255);
}

.navLinks a:hover {
  background: #73009b;
  color: white;
}

/* --------------------------------- Header ------------------------------------ */

.headerContainer {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.171)),
    url(/Assets/Images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
  color: white;
}

.headerContainer h1,
h3 {
  font-weight: normal;
  text-align: center;
}

.headerContainer h1 {
  font-size: 3rem;
  line-height: 1;
}

.headerContainer h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.headerContainer button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  margin: 0rem 1rem;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #ff00e1 -6.98%, #8c00ff);
  font-size: 1rem;
}

/* ------------------------------- Services ------------------------------ */

#servicesSection {
  background-color: #001330;
  min-height: 100vh;
}

.servicesContainer {
  width: 95vw;
  margin: auto;
}

.servicesHeader h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: lighter;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.servicesCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.servicesCards > div {
  flex-basis: 20rem;
  flex-grow: 1;
  margin: 2rem;
  /* width: 5rem; */
  /* flex-grow: 1; */
  /* flex: 1 1; */
}

.card2 {
  /* flex-grow: 1; */
}

.card3 {
  /* flex-grow: 1; */
}

.card1 {
  /* flex-grow: 2; */
}

.cardLogo {
  text-align: center;
  background: linear-gradient(90deg, #530185, #FB01EE);
  padding: 0.5rem;
}

.cardText {
  padding: 1rem;
  text-align: justify;
  background-color: white;
}

.cardText h3 {
  padding: 1rem;
  font-size: 1.3rem;
}

.cardText p {
  font-size: 1rem;
}

.cardBtn {
  text-align: center;
  background: linear-gradient(90deg, #FB01EE, #530185);
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}