/* ------------------------------- Global ----------------------------- */

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 8vh;
}

body {
  font-family: poppins;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

a {
  text-decoration: none;
}

@font-face {
  src: url(/fonts/montserrat/MontserratSubrayada-Regular.ttf);
  font-family: montserrat;
}

@font-face {
  src: url(/fonts/poppins/Poppins-Regular.ttf);
  font-family: poppins;
}

/* ------------------------------ Navigation Bar ---------------------------- */

.navContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 95vw;
  margin: auto;
}

.logo {
  flex: 1 1 0rem;
  color: #73009b;
  font-family: montserrat;
  cursor: pointer;
}

.navLinks {
  flex: 2 1 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease;
}

.navLinks a {
  color: rgb(73, 73, 73);
  padding: 0.3rem 1.5rem;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.navLinks a:hover {
  background: #73009b;
  color: white;
}

/* --------------------------------- Header ------------------------------------ */

#headerSection {
  margin-top: 10vh;
}

.headerContainer {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.171)),
    url(/Assets/Images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
  color: white;
}

.headerContainer h1,
h3 {
  font-weight: normal;
  text-align: center;
}

.headerContainer h1 {
  font-size: 3rem;
  line-height: 1;
}

.headerContainer h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.headerContainer button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  margin: 0rem 1rem;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #ff00e1 -6.98%, #8c00ff);
  font-size: 1rem;
}

/* ------------------------------- Services ------------------------------ */

#servicesSection {
  background-color: #000018;
  min-height: 100vh;
}

.servicesContainer {
  width: 95vw;
  margin: auto;
}

.servicesHeader h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: lighter;
  padding-top: 7vh;
  padding-bottom: 7vh;
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
}

.servicesCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.servicesCards > div {
  flex-basis: 20rem;
  flex-grow: 1;
  margin: 2rem;
}

.cardLogo {
  text-align: center;
  background: linear-gradient(90deg, #530185, #fb01ee);
  padding: 0.5rem;
}

.cardText {
  padding: 1rem;
  text-align: justify;
  background-color: white;
}

.cardText h3 {
  padding: 1rem;
  font-size: 1.3rem;
}

.cardText p {
  font-size: 1rem;
}

.cardBtn {
  text-align: center;
  background: linear-gradient(90deg, #fb01ee, #530185);
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/* ------------------------------ Testimonials --------------------------- */

#testimonialsSection {
  min-height: 100vh;
  background: linear-gradient(315deg, #ff0099, #41006d);
}

.testimonialsContainer {
  width: 95vw;
  margin: auto;
}

.testimonialsHead {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding-top: 7vh;
  padding-bottom: 15vh;
  font-weight: lighter;
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
}

.person {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  flex-shrink: 3;
  margin: 3rem;
  margin-bottom: 5rem;
  flex-basis: 15rem;
  position: relative;
  box-shadow: 5px 5px 15px 7px rgba(0, 0, 0, 0.5);
}

.personImg img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.3rem solid rgb(255, 255, 255);
  background-color: white;
}

.personImg {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.testimonialsMainContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.personText {
  text-align: center;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 0.9rem;
}

.personName {
  font-size: 1.1rem;
  font-weight: bolder;
  padding-bottom: 2rem;
}

.quotes {
  font-size: 1.7rem;
  font-weight: bolder;
}

.hrLine2 {
  height: 5px;
  width: 10rem;
  margin: auto;
  background-color: white;
}

/* --------------------------------- Works ----------------------------------- */

.worksSection {
  min-height: 30vh;
  background-color: #000018;
}

.worksContainer {
  min-width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.work {
  background-color: rgb(255, 255, 255);
  padding: 2rem 0rem;
  flex-basis: 15rem;
  flex-grow: 1;
  max-width: 15rem;
  margin: 2rem;
  text-align: center;
  box-shadow: inset 6px 6px 24px 1px rgba(0, 0, 0, 0.513);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.work:hover {
  box-shadow: none;
}

/* ------------------------ Contact Me ------------------------ */

#contactMeSection {
  min-height: 100vh;
  background: linear-gradient(#000018, transparent), url(/Assets/Images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contactMeContainer {
  align-items: center;
  width: 95vw;
  margin: auto;

}

.contactMeHeader {
  font-size: 2.5rem;
  color: white;
  padding-top: 5vh;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.contactMeHeader2 {
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.contactMeMainContainer {
  background-color: rgba(0, 0, 0, 0.616);
  width: 50vw;
  margin: auto;
  color: white;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1 0vh;
}

.formBtn {
  width: 100%;
  background: linear-gradient(90deg, #ff0099, #41006d);
  outline: none;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

label {
  width: 5rem;
  display: inline-block;
}

.name input,
.email input {
  padding: 0.3rem;
  margin-left: 1rem;
}

.name {
  padding: 2rem 1rem;
}

.email {
  padding: 0rem 1rem 2rem 1rem;
}

/* ------------------------------- Footer -------------------------------------- */

footer {
  background-color: #070114;
  color: white;
  min-height: 20vh;
}

.footerContainer {
  padding: 0.5rem;
}

.footerContainer img {
  height: 1.8rem;
}

.footerIcons {
  width: 40vw;
  padding: 0.5rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}