/* ------------------------------- Navigation Bar ----------------------- */

@media (max-width: 900px) {
    .navLinks {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.863);
        transform: translateX(100%);
        z-index: 1;
    }

    .navLinks a {
        color: white;
    }

    .logo {
        margin-left: 1rem;
    }

    .hamburger {
        height: 2rem;
        cursor: pointer;
        z-index: 2;
        transform: translateY(-15%);
    }

    .line {
        height: 0.25rem;
        width: 3rem;
        margin: 0.4rem;
        background-color: black;
        transition: all 0.3s ease;
    }

    .line:nth-child(2) {
        width: 1.5rem;
    }

    .removeNavLinks {
        transform: translateX(0);
    }

    .changeColor div{
        background-color: white;
    }

    .animateSticks div:nth-child(1), .animateSticks div:nth-child(3){
        width: 1.5rem;
    }

    .animateSticks div:nth-child(2) {
        width: 3rem;
    }



}

@media (max-width: 500px) {
    .contactMeMainContainer {
  width: 90vw;
}

.name, .email, .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactMeMainContainer label {
    text-align: center;
    width: 100%;   
    margin-right: 0;
    padding: 0.5rem;
}

.contactMeMainContainer input {
    width: 15rem;
}
}

@media (max-width: 640px) {
    .contactMeMainContainer {
        width: 80vw;
    }
}